{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 120
            }
        }, {
            "files": "*.md",
            "options": {

                "printWidth": 100
            }
        }
    ]
}
